.container{
    position: fixed;
    display: flex;
    padding: 15px 18px 17px;
    height: 26px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.nav_logo{
    margin-top: 2px;
    width: 165px;
    height: 26px;
}
.nav_ul{
    display: flex;
    list-style-type: none;
    margin-left: 28px;
}

.nav_li{
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3px 0px;
    font-weight: bold;
    padding: 0px 18px;
}
.nav_li:hover{
    color: #04c584;
    cursor: pointer;
}
.nav_li_first:hover .detail_first_ul{
    display: block;
}
.detail_first_ul{
    display: none;
    padding-top: calc(17px + 25px);
    list-style-type: none;
    background-color: grey;
}

.card{
    position: relative;
    top: 58px;
    display: flex;
    width: 100%;
    background-color: grey;
    
}
.cardUl{
    list-style-type: none;
    padding: 10px 20px;
}
.cardUl li{
    font-size: 14px;
}